* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* setting base colors for use throughout the site */
:root {
    --blue: #4E7DA6;
    --lightBlue: #77C7D9;
    --darkGreen: #16591B;
    --green: #6C8C3B;
    --coral: #D96C6C;
}

/* HEADER DETAILS */
header {
    background-color: var(--mauve);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 10px solid var(--wheat);
    color: var(--wheat);
    z-index: 10;
    padding: 20px 40px 0px 40px;
}

/* to make intro and nav sit in the same line */
.header-wrap {
    display: flex;
    row-gap: 5px;
}

.intro {
    width: 50%;
}

nav {
    text-align: right;
    width: 50%;
}

a {
    color: var(--wheat);
    transition-duration: 0.2s;
}

nav ul li a:hover {
    color: var(--gray);
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

.homePage{
    background-image: url('../images/Background.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

/* BODY DETAILS */
body {
    background-color: var(--gray);
    color: var(--wheat);
}

main {
    margin: 72px 0 0 0;
    display: block;
}

/* SECTION DETAILS */

section {
    padding: 20px;
}

#about-me {
    padding: 30px 0 0 0;
}

/* .row {
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    row-gap: 10px;
} */
/* .container {
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
} */

.row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

h1 {
    font-size: 200%;
    text-align: center;
    font-weight: 300;
    border-bottom: 1px solid var(--mauve);
    padding-bottom: 5px;
}

#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid var(--mauve);
    width: 200px;
}

/* Flexbox CREATION */
/* .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
    column-gap: 10px;
    /* width: 80vw; */
    /* padding-top: 15px;
} */

/* image itself needs to have its width set, not parent element */
.project1 a img {
    width: 100%;
    border: 10px solid var(--mauve);
}

.prjImg {
    width: 100%;
    border: 10px solid var(--mauve);
    height: 275px;
}


h2 {
    background-color: var(--mauve);
    border-radius: 8px;
    text-align: center;
    padding-right: auto;
    padding-left: auto;
    width: 35%;
    line-height: 1.5;
    font-size: 175%;
    z-index: 2;
    /* position set to absolute so I could place it inside image and not have it's space reserved in the flow of the page */
    position: absolute;
    right: 0;
}

/* CONTACT SECTION DETAILS */

.contactList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
    column-gap: 10px;
    width: 80vw;
    padding-top: 15px;
}

.text-center {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 0 0;
    width: 100vw;
}

.text-center li a:hover {
    color: var(--mauve);
}

/* FOOTER DETAILS */
footer {
    background-color: var(--mauve);
    height: 50px;
    width: 100%;
    border-bottom: 10px solid var(--wheat);
    color: var(--wheat);
    line-height: 3;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    h2 {
        font-size: 150%;
    }
}

@media screen and (max-width: 947px) {
    .header-wrap {
        flex-direction: column;
    }
    
    .intro {
        width: 100%;
        text-align: center;
    }

    nav {
        width: 100%;
        text-align: center;
    }

    main {
        margin: 88px 0 0 0;
        padding-left: 20px;
    }

    li{
        padding: 0 10px;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 555px) {
    h2 {
        font-size: 100%;
    }
}

/* @media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
    }
} */
