* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* setting base colors for use throughout the site */
:root {
    --blue: #4E7DA6;
    --lightBlue: #77C7D9;
    --darkGreen: #16591B;
    --green: #6C8C3B;
    --coral: #D96C6C;
}

/* BODY DETAILS */

body {
    background-color: white;
    width: 100vw;
}

/* HEADER DETAILS */

header {
    background-color: var(--blue);
    /* position: fixed; */
    top: 0;
    width: 100%;
    border-bottom: 2px solid var(--coral);
    color: var(--lightBlue);
    /* z-index: 10; */
    padding: 20px 35px;
}

/* to make intro and nav sit in the same line */
.header-wrap {
    display: flex;
    row-gap: 5px;
}

.intro {
    width: 50%;
}

nav {
    text-align: right;
    width: 50%;
}

a {
    text-decoration: none !important;
}

nav a {
    color: var(--lightBlue);
    transition-duration: 0.2s;
}

nav ul li a:hover {
    color: var(--darkGreen);
}

.active {
    color:#D96C6C
}

nav ul li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

  /* HOME PAGE */

.homePage{
    margin: 0;
    background-image: url('../images/Background.png');
    background-size: cover;
    /* object-fit: cover; */
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.homePage h1 {
    font-size: 12.5vw;
    color: white;
    text-align: center;
    font-weight: 300;
    padding-top: 290px;
}

    /* ABOUT PAGE */

#intro {
    margin-top: 6vh;
    font-size: 200%;
    text-align: center;
    font-weight: 300;
    /* border-bottom: 1px solid var(--darkGreen); */
    /* max-width: 90vw; */
}

.aboutMe {
    margin: auto;
    padding-top: 6vh;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 15px;
    column-gap: 30px;
    /* margin-bottom: 50px; */
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--green);
    width: 200px;
    /* border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */
    border-radius: 8px;
}

.blurb {
    background-color: lightgray;
    /* border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; */
    border-radius: 8px;
    padding: 20px;
}

.blurb a {
    color: var(--green);
    text-align: center;
}

.blurb a:hover {
    color: var(--coral);
}

.technologies{
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    /* FIX */
    /* margin-bottom: 200px; */
    background-color: lightgray;
    border-radius: 8px;
    width: 50vw;
    padding: 20px;
}

#techHeader {
    font-size: 150%;
    text-align: center;
    font-weight: 300;
    border-bottom: 1px solid var(--darkGreen);
    padding-bottom: 5px;
}

.techFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
}

.techList {
    list-style-type: circle;
    list-style-position: inside;
    line-height: 1.2;
}

/* PORTFOLIO SECTION */

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
    column-gap: 10px;
    width: 90vw;
    margin: auto;
    /* margin-bottom: 50px; */
}

.projectCard {
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    width: 25%;
    background-color: lightgray;
    padding: 20px;
}

.projectCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.projectImg {
    width: 100%;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}

.projectLinks {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding: 2px 16px;
    padding: 20px;
}

.projectLinks a {
    color: var(--coral);
}

.projectLinks a:hover {
    color: var(--green);
}

h4 {
    text-align: center;
    font-size: 2.5vh;
    margin-bottom: 15px;
    color: var(--blue);
    border-bottom: 2px solid var(--coral);
    padding-bottom: 8px;
}

/* CONTACT SECTION DETAILS */

#emailMe {
    margin-top: 3vh;
    /* background-color: lightgray; */
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 8px;
    padding: 25px;
}

#emailMe h2 {
    font-size: 200%;
    text-align: center;
    font-weight: 300;
    /* border-bottom: 1px solid var(--darkGreen); */
    padding-bottom: 5px;
    /* color: var(--blue) */
}

#email {
    color: var(--coral);
    font-size: 150%;
    text-align: center;
}

#invitation {
    margin-top: 2vh;
    text-align: center;
}

.contactForm {
    margin: auto;
    width: 500px;
}
.formWrapper {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    border-radius: 8px;
    padding: 25px;
}

.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
}

label {
    margin-top: 10px;
}

textarea {
    display: inline-block;
    float: left;
}

.formButton {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--coral);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.formButton:hover {
    background-color: var(--green);
}

/* FOOTER DETAILS */

footer {
    background-color: var(--blue);
    /* height: 40px; */
    width: 100%;
    border-top: 2px solid var(--coral);
    color: var(--lightBlue);
    line-height: 3;
    text-align: center;
    z-index: 10;
    position: fixed;
    bottom: 0;
}

.logos {
    width: 30px;
}

.contactList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* row-gap: 15px;
    column-gap: 10px; */
    /* width: 80vw; */
    padding-top: 15px;
}

.contactList li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

/* Media Queries */

@media screen and (max-width: 1270px) {
    .projectCard {
        width: 40%;
    }
}

@media screen and (max-width: 1086px) {
    .header-wrap {
        flex-direction: column;
    }
    nav {
        width: 100%;
        text-align: center;
    }
    .intro {
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 880px) {
    .projectCard {
        width: 60%;
    }
    .aboutMe {
        flex-direction: column;
    }
    .blurb {
        border-radius: 8px;
    }
    #headshot {
        border-radius: 8px;
    }
    .technologies {
        width: 60vw;
    }
}

/* @media screen and (max-width: 655px) {
    
} */

@media screen and (max-width: 600px) {
    .projectCard {
        width: 70%;
    }
    .technologies {
        width: 70vw;
    }
}

@media screen and (max-width: 580px) {
    header {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 555px) {
    .projectCard {
        width: 80%;
    }
    .techFlex{
        flex-direction: column;
    }
}

@media screen and (max-width: 456px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        padding: 2px 0px;
    }

    .aboutMe{
        width: 85%;
    }
}
